<form class="search-form" id="search-form">
  <a href="https://pixabay.com/" target="_blank">
    <img
      class="search-form__logo"
      src="./images/pixabay-logo.png"
      alt="logo"
      width="200"
    />
  </a>
  <input
    class="search-form__input"
    type="text"
    name="searchQuery"
    autocomplete="off"
    placeholder="Search images..."
  />
  <button class="search-form__button" type="submit">
    <img
      class="img-search"
      src="./images/search.png"
      alt="search"
      width="20"
    />Search
  </button>
</form>

<div class="gallery"></div>
<button type="button" class="load-more is-hidden">Load more</button>